:host {
    display: block;
    margin: 1rem;
}

p:not([class]) {
    line-height: 1.4;
    margin-top: 2rem;
    max-width: 26rem;
}

.not-supported {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 50%);
    height: 100vh;
    width: 100vw;

    p {
        border: 2px solid black;
        background: white;
        margin: 2rem;
        padding: 2rem;

        span {
            font-weight: bold;
        }
    }
}

@supports selector(div:popover-open) {
    .not-supported {
        display: none;
    }
}
