/* You can add global styles to this file, and also import other style files */
html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.alert[popover] {
    --alert-spacing: 0.5rem;
    background: #b50015;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    color: white;
    padding: 1rem;
    position: fixed;

    &.bottom-center {
        inset: auto var(--alert-spacing) var(--alert-spacing) var(--alert-spacing);
        margin: 0 auto;

        /* Final state of the exit animation */
        opacity: 0;
        scale: 0.5;
    
        transition: opacity 0.5s, scale 0.5s, overlay 0.5s allow-discrete,
            display 0.5s allow-discrete;
    }

    &.top-right {
        inset: var(--alert-spacing) var(--alert-spacing) auto auto;
        margin-left: var(--alert-spacing);

        /* Final state of the exit animation */
        opacity: 0;
        transform: translateX(100%);
    
        transition: opacity 0.5s, transform 0.5s, overlay 0.5s allow-discrete,
            display 0.5s allow-discrete;
    }
}

/*******************************************
 ************ Bottom/Center Alert *********
 *****************************************/
.alert[popover].bottom-center:popover-open {
    /* Final state of the show animation */
    opacity: 1;
    scale: 1;
}

/* Needs to be after the previous [popover]:popover-open rule
to take effect, as the specificity is the same */
@starting-style {
    .alert[popover].bottom-center:popover-open {
        opacity: 0;
        scale: 0.5;
    }
}

/***************************************
 ************ Top/Right Alert *********
 *************************************/
.alert[popover].top-right:popover-open {
    /* Final state of the show animation */
    opacity: 1;
    transform: translateX(0);
}

/* Needs to be after the previous [popover]:popover-open rule
to take effect, as the specificity is the same */
@starting-style {
    .alert[popover].top-right:popover-open {
        opacity: 0;
        transform: translateX(100%);
    }
}
